repomix-output.xml
This file is a merged representation of the entire codebase, combined into a single document by Repomix.

<file_summary>
This section contains a summary of this file.

<purpose>
This file contains a packed representation of the entire repository's contents.
It is designed to be easily consumable by AI systems for analysis, code review,
or other automated processes.
</purpose>

<file_format>
The content is organized as follows:
1. This summary section
2. Repository information
3. Directory structure
4. Repository files (if enabled)
5. Multiple file entries, each consisting of:
  - File path as an attribute
  - Full contents of the file
</file_format>

<usage_guidelines>
- This file should be treated as read-only. Any changes should be made to the
  original repository files, not this packed version.
- When processing this file, use the file path to distinguish
  between different files in the repository.
- Be aware that this file may contain sensitive information. Handle it with
  the same level of security as you would the original repository.
</usage_guidelines>

<notes>
- Some files may have been excluded based on .gitignore rules and Repomix's configuration
- Binary files are not included in this packed representation. Please refer to the Repository Structure section for a complete list of file paths, including binary files
- Files matching patterns in .gitignore are excluded
- Files matching default ignore patterns are excluded
- Files are sorted by Git change count (files with more changes are at the bottom)
</notes>

</file_summary>

<directory_structure>
.gitignore
1_data_generator/generate_data.py
1_data_generator/simulate_realtime.py
2_etl/etl_to_hdfs.py
3_spark_jobs/job_5a_top_k_all_time.py
3_spark_jobs/job_5b_top_k_by_month.py
3_spark_jobs/job_5c_revenue_by_product.py
3_spark_jobs/job_5d_revenue_by_shop.py
3_spark_jobs/job_6a_check_5a.py
3_spark_jobs/job_6c_check_5c.py
docker-compose.yml
hadoop.env
hive/conf/hive-site.xml
nifi_conf/archive/20260602T190408+0000_flow.json.gz
nifi_conf/archive/20260602T190408+0000_flow.xml.gz
nifi_conf/archive/20260602T190409+0000_flow.json.gz
nifi_conf/archive/20260602T190409+0000_flow.xml.gz
nifi_conf/archive/20260602T193252+0000_flow.json.gz
nifi_conf/archive/20260602T193252+0000_flow.xml.gz
nifi_conf/archive/20260602T193748+0000_flow.json.gz
nifi_conf/archive/20260602T193748+0000_flow.xml.gz
nifi_conf/archive/20260602T193750+0000_flow.json.gz
nifi_conf/archive/20260602T193750+0000_flow.xml.gz
nifi_conf/archive/20260602T193757+0000_flow.json.gz
nifi_conf/archive/20260602T193757+0000_flow.xml.gz
nifi_conf/archive/20260602T193758+0000_flow.json.gz
nifi_conf/archive/20260602T193758+0000_flow.xml.gz
nifi_conf/archive/20260602T193806+0000_flow.json.gz
nifi_conf/archive/20260602T193806+0000_flow.xml.gz
nifi_conf/archive/20260602T193807+0000_flow.json.gz
nifi_conf/archive/20260602T193807+0000_flow.xml.gz
nifi_conf/archive/20260602T193808+0000_flow.json.gz
nifi_conf/archive/20260602T193808+0000_flow.xml.gz
nifi_conf/archive/20260602T193809+0000_flow.json.gz
nifi_conf/archive/20260602T193809+0000_flow.xml.gz
nifi_conf/archive/20260602T193924+0000_flow.json.gz
nifi_conf/archive/20260602T193924+0000_flow.xml.gz
nifi_conf/archive/20260602T193930+0000_flow.json.gz
nifi_conf/archive/20260602T193930+0000_flow.xml.gz
nifi_conf/archive/20260602T193933+0000_flow.json.gz
nifi_conf/archive/20260602T193933+0000_flow.xml.gz
nifi_conf/archive/20260602T193937+0000_flow.json.gz
nifi_conf/archive/20260602T193937+0000_flow.xml.gz
nifi_conf/archive/20260602T193939+0000_flow.json.gz
nifi_conf/archive/20260602T193939+0000_flow.xml.gz
nifi_conf/archive/20260602T193942+0000_flow.json.gz
nifi_conf/archive/20260602T193942+0000_flow.xml.gz
nifi_conf/archive/20260602T193953+0000_flow.json.gz
nifi_conf/archive/20260602T193953+0000_flow.xml.gz
nifi_conf/archive/20260602T193958+0000_flow.json.gz
nifi_conf/archive/20260602T193958+0000_flow.xml.gz
nifi_conf/archive/20260602T194014+0000_flow.json.gz
nifi_conf/archive/20260602T194014+0000_flow.xml.gz
nifi_conf/archive/20260602T194015+0000_flow.json.gz
nifi_conf/archive/20260602T194015+0000_flow.xml.gz
nifi_conf/archive/20260602T194017+0000_flow.json.gz
nifi_conf/archive/20260602T194017+0000_flow.xml.gz
nifi_conf/archive/20260602T194019+0000_flow.json.gz
nifi_conf/archive/20260602T194019+0000_flow.xml.gz
nifi_conf/archive/20260602T194021+0000_flow.json.gz
nifi_conf/archive/20260602T194021+0000_flow.xml.gz
nifi_conf/archive/20260602T194022+0000_flow.json.gz
nifi_conf/archive/20260602T194022+0000_flow.xml.gz
nifi_conf/archive/20260602T194023+0000_flow.json.gz
nifi_conf/archive/20260602T194023+0000_flow.xml.gz
nifi_conf/archive/20260602T194024+0000_flow.json.gz
nifi_conf/archive/20260602T194024+0000_flow.xml.gz
nifi_conf/archive/20260602T194029+0000_flow.json.gz
nifi_conf/archive/20260602T194029+0000_flow.xml.gz
nifi_conf/archive/20260602T194051+0000_flow.json.gz
nifi_conf/archive/20260602T194051+0000_flow.xml.gz
nifi_conf/archive/20260602T194057+0000_flow.json.gz
nifi_conf/archive/20260602T194057+0000_flow.xml.gz
nifi_conf/archive/20260602T194229+0000_flow.json.gz
nifi_conf/archive/20260602T194229+0000_flow.xml.gz
nifi_conf/archive/20260602T194723+0000_flow.json.gz
nifi_conf/archive/20260602T194723+0000_flow.xml.gz
nifi_conf/archive/20260602T194753+0000_flow.json.gz
nifi_conf/archive/20260602T194753+0000_flow.xml.gz
nifi_conf/archive/20260602T194757+0000_flow.json.gz
nifi_conf/archive/20260602T194757+0000_flow.xml.gz
nifi_conf/archive/20260602T194758+0000_flow.json.gz
nifi_conf/archive/20260602T194758+0000_flow.xml.gz
nifi_conf/archive/20260602T194847+0000_flow.json.gz
nifi_conf/archive/20260602T194847+0000_flow.xml.gz
nifi_conf/archive/20260602T195302+0000_flow.json.gz
nifi_conf/archive/20260602T195302+0000_flow.xml.gz
nifi_conf/archive/20260602T195549+0000_flow.json.gz
nifi_conf/archive/20260602T195550+0000_flow.xml.gz
nifi_conf/archive/20260602T195916+0000_flow.json.gz
nifi_conf/archive/20260602T195916+0000_flow.xml.gz
nifi_conf/authorizers.xml
nifi_conf/bootstrap-aws.conf
nifi_conf/bootstrap-azure.conf
nifi_conf/bootstrap-gcp.conf
nifi_conf/bootstrap-hashicorp-vault.conf
nifi_conf/bootstrap-notification-services.xml
nifi_conf/bootstrap.conf
nifi_conf/core-site.xml
nifi_conf/flow.json.gz
nifi_conf/flow.xml.gz
nifi_conf/hadoop/core-site.xml
nifi_conf/hadoop/hdfs-site.xml
nifi_conf/hdfs-site.xml
nifi_conf/logback.xml
nifi_conf/login-identity-providers.xml
nifi_conf/nifi.properties
nifi_conf/state-management.xml
nifi_conf/stateless-logback.xml
nifi_conf/stateless.properties
nifi_conf/zookeeper.properties
note.txt
</directory_structure>

<files>
This section contains the contents of the repository's files.

<file path=".gitignore">
# Bỏ qua thư mục dữ liệu khổng lồ
data/
realtime-data/

# Các file hệ thống/rác
.venv/
__pycache__/
*.jar
*.log
.DS_Store
</file>

<file path="1_data_generator/generate_data.py">
import os
import random
from datetime import datetime, timedelta

# Cấu hình
NUM_SHOPS = 60
HOURS_PER_DAY = 18  # 6h - 23h
OUTPUT_DIR = os.path.expanduser("~/bigdata-project/data")

products = [
    (101, "Ca phe Mocha Da", 39000),
    (102, "Espresso", 59000),
    (103, "Ca phe sua da", 29000),
    (104, "Tra sua tran chau", 35000),
    (105, "Nuoc ep cam", 25000),
    (106, "Sinh to bo", 45000),
    (107, "Banh mi thit", 25000),
    (108, "Banh ngot", 30000),
    (109, "Combo sang", 55000),
    (110, "Nuoc suoi", 10000),
]

os.makedirs(OUTPUT_DIR, exist_ok=True)

start_date = datetime(2021, 1, 1, 6, 0, 0)
total_files = 0

for day in range(365):
    for hour in range(HOURS_PER_DAY):
        dt = start_date + timedelta(days=day, hours=hour)
        for shop in range(1, NUM_SHOPS + 1):
            filename = f"Shop-{shop}-{dt.strftime('%Y%m%d-%H')}.csv"
            filepath = os.path.join(OUTPUT_DIR, filename)

            with open(filepath, "w", encoding="utf-8") as f:
                f.write("OrderID,ProductID,ProductName,Amount,Price,Discount\n")
                # Mỗi file có 5-15 dòng order
                num_orders = random.randint(20, 50)
                order_base = random.randint(100000, 999999)
                for i in range(num_orders):
                    order_id = f"{shop}{dt.strftime('%Y%m%d%H')}{i:04d}"
                    prod = random.choice(products)
                    amount = random.randint(1, 5)
                    discount = random.choice([0, 0, 0, 5, 10])
                    f.write(f"{order_id},{prod[0]},{prod[1]},{amount},{prod[2]},{discount}\n")

            total_files += 1
            if total_files % 10000 == 0:
                print(f"Đã sinh {total_files} files...")

print(f"Hoàn thành! Tổng cộng {total_files} files.")
</file>

<file path="1_data_generator/simulate_realtime.py">
import os
import shutil
import time
import glob

# Cấu hình
SOURCE_DIR = os.path.expanduser("~/bigdata-project/data")
DEST_DIR = os.path.expanduser("~/bigdata-project/realtime-data")
T = 20           # copy mỗi 20 giây (demo), thực tế đặt 3600
BATCH = 60      # mỗi lần copy 60 files (= 1 giờ của 60 shops)

os.makedirs(DEST_DIR, exist_ok=True)

all_files = sorted(glob.glob(os.path.join(SOURCE_DIR, "*.csv")))
total = len(all_files)
print(f"Tổng số file: {total}")
print(f"Bắt đầu giả lập... (copy {BATCH} file mỗi {T} giây)\n")

for i in range(0, total, BATCH):
    batch = all_files[i:i + BATCH]
    for f in batch:
        shutil.copy(f, DEST_DIR)

    timestamp = os.path.basename(batch[0]).split("-", 2)[2].replace(".csv", "")
    print(f"[{timestamp}] Đã copy {len(batch)} files → realtime-data/")
    time.sleep(T)

print("Hoàn thành giả lập!")
</file>

<file path="2_etl/etl_to_hdfs.py">
import os
import subprocess
import time
import glob

REALTIME_DIR = os.path.expanduser("~/bigdata-project/realtime-data")
HDFS_DIR = "/data"
CONTAINER = "hadoop-master"
CHECK_INTERVAL = 5  # kiểm tra mỗi 5 giây

print("ETL agent đang chạy — theo dõi thư mục realtime-data...")

processed = set()

while True:
    files = glob.glob(os.path.join(REALTIME_DIR, "*.csv"))
    new_files = [f for f in files if f not in processed]

    if new_files:
        print(f"Phát hiện {len(new_files)} file mới, đang đẩy lên HDFS...")
        for f in new_files:
            filename = os.path.basename(f)
            cmd = [
                "docker", "cp", f,
                f"{CONTAINER}:/tmp/{filename}"
            ]
            subprocess.run(cmd, check=True)

            hdfs_cmd = [
                "docker", "exec", CONTAINER,
                "hdfs", "dfs", "-put", "-f",
                f"/tmp/{filename}", f"{HDFS_DIR}/{filename}"
            ]
            subprocess.run(hdfs_cmd, check=True)
            processed.add(f)

        print(f"  → Đã đẩy {len(new_files)} files lên HDFS {HDFS_DIR}/")

    time.sleep(CHECK_INTERVAL)
</file>

<file path="3_spark_jobs/job_5a_top_k_all_time.py">
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum, desc

if __name__ == "__main__":
    if len(sys.argv) < 2:
        print("Lỗi: Thiếu tham số K! Cú pháp: spark-submit job_5a_top_k_all_time.py <K>")
        sys.exit(1)
        
    K = int(sys.argv[1])

    spark = SparkSession.builder.appName("Spark-Job-5a").getOrCreate()
    spark.sparkContext.setLogLevel("WARN")

    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df_raw = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df = df_raw.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    print(f"\n=== [CÂU 5a] TOP {K} SẢN PHẨM BÁN CHẠY NHẤT TOÀN HỆ THỐNG ===")
    top_products = df.groupBy("ProductID", "ProductName") \
        .agg(_sum("Amount").alias("Total_Amount")) \
        .orderBy(desc("Total_Amount")) \
        .limit(K)
        
    top_products.show(truncate=False)
    spark.stop()
</file>

<file path="3_spark_jobs/job_5b_top_k_by_month.py">
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum, desc, input_file_name, regexp_extract

if __name__ == "__main__":
    if len(sys.argv) < 3:
        print("Lỗi: Thiếu tham số! Cú pháp: spark-submit job_5b_top_k_by_month.py <K> <YYYYMM>")
        sys.exit(1)
        
    K = int(sys.argv[1])
    D = sys.argv[2] # Ví dụ: "202101"

    spark = SparkSession.builder.appName("Spark-Job-5b").getOrCreate()
    spark.sparkContext.setLogLevel("WARN")

    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df_raw = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df = df_raw.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    # Trích xuất tháng năm YYYYMM từ tên file nguồn gộp của NiFi
    df_enhanced = df.withColumn("YearMonth", regexp_extract(input_file_name(), r"(\d{6})", 1))

    print(f"\n=== [CÂU 5b] TOP {K} SẢN PHẨM BÁN CHẠY NHẤT TRONG THÁNG {D} ===")
    top_products_at_time = df_enhanced.filter(col("YearMonth") == D) \
        .groupBy("ProductID", "ProductName") \
        .agg(_sum("Amount").alias("Total_Amount")) \
        .orderBy(desc("Total_Amount")) \
        .limit(K)
        
    top_products_at_time.show(truncate=False)
    spark.stop()
</file>

<file path="3_spark_jobs/job_5c_revenue_by_product.py">
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum, desc

if __name__ == "__main__":
    spark = SparkSession.builder.appName("Spark-Job-5c").getOrCreate()
    spark.sparkContext.setLogLevel("WARN")

    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df_raw = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df = df_raw.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    print("\n=== [CÂU 5c] DOANH THU TRÊN MỖI SẢN PHẨM TRONG NĂM ===")
    # Công thức: Doanh thu = Số lượng * Đơn giá - Chiết khấu
    df_revenue_prod = df.withColumn("Revenue", col("Amount") * col("Price") - col("Discount")) \
        .groupBy("ProductID", "ProductName") \
        .agg(_sum("Revenue").alias("Total_Revenue")) \
        .orderBy(desc("Total_Revenue"))
        
    df_revenue_prod.show(truncate=False)
    spark.stop()
</file>

<file path="3_spark_jobs/job_5d_revenue_by_shop.py">
import sys
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, sum as _sum, input_file_name, regexp_extract

if __name__ == "__main__":
    if len(sys.argv) < 2:
        print("Lỗi: Thiếu tham số thời điểm D! Cú pháp: spark-submit job_5d_revenue_by_shop.py <YYYYMM>")
        sys.exit(1)
        
    D = sys.argv[1]

    spark = SparkSession.builder.appName("Spark-Job-5d").getOrCreate()
    spark.sparkContext.setLogLevel("WARN")

    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df_raw = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df = df_raw.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    # Trích xuất ShopID và YearMonth từ tên file nguồn
    df_enhanced = df.withColumn("file_name", input_file_name()) \
                    .withColumn("ShopID", regexp_extract(col("file_name"), r"Shop-(\d+)", 1)) \
                    .withColumn("YearMonth", regexp_extract(col("file_name"), r"(\d{6})", 1))

    print(f"\n=== [CÂU 5d] DOANH THU CỦA TỪNG SHOP TRONG THÁNG {D} ===")
    df_revenue_shop = df_enhanced.filter(col("YearMonth") == D) \
        .withColumn("Revenue", col("Amount") * col("Price") - col("Discount")) \
        .groupBy("ShopID") \
        .agg(_sum("Revenue").alias("Shop_Revenue")) \
        .orderBy(col("ShopID").cast("int"))
        
    df_revenue_shop.show(df_revenue_shop.count(), truncate=False)
    spark.stop()
</file>

<file path="3_spark_jobs/job_6a_check_5a.py">
import sys
from pyspark.sql import SparkSession

if __name__ == "__main__":
    if len(sys.argv) < 2:
        print("Lỗi: Thiếu tham số K! Cú pháp: spark-submit job_6a_check_5a.py <K>")
        sys.exit(1)
        
    K = int(sys.argv[1])

    spark = SparkSession.builder \
        .appName("SparkSQL-Check-5a") \
        .getOrCreate()
        
    spark.sparkContext.setLogLevel("WARN")

    # Đọc dữ liệu từ HDFS
    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df_named = df.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    # Đăng ký bảng ảo
    df_named.createOrReplaceTempView("orders_table")

    print(f"\n=== [CÂU 6a] ĐỐI CHIẾU SPARKSQL: TOP {K} SẢN PHẨM BÁN CHẠY ===")
    query = f"""
        SELECT 
            ProductID, 
            ProductName, 
            SUM(Amount) AS Total_Amount
        FROM orders_table
        GROUP BY ProductID, ProductName
        ORDER BY Total_Amount DESC
        LIMIT {K}
    """
    
    spark.sql(query).show(truncate=False)
    spark.stop()
</file>

<file path="3_spark_jobs/job_6c_check_5c.py">
from pyspark.sql import SparkSession

if __name__ == "__main__":
    spark = SparkSession.builder \
        .appName("SparkSQL-Check-5c") \
        .getOrCreate()
        
    spark.sparkContext.setLogLevel("WARN")

    # Đọc dữ liệu từ HDFS
    hdfs_path = "hdfs://hadoop-master:9000/data/*"
    df = spark.read.format("csv").option("header", "false").option("inferSchema", "true").load(hdfs_path)
    df_named = df.toDF("OrderID", "ProductID", "ProductName", "Amount", "Price", "Discount")

    # Đăng ký bảng ảo
    df_named.createOrReplaceTempView("orders_table")

    print("\n=== [CÂU 6c] ĐỐI CHIẾU SPARKSQL: DOANH THU SẢN PHẨM CẢ NĂM ===")
    query = """
        SELECT 
            ProductID, 
            ProductName, 
            SUM(Amount * Price - Discount) AS Total_Revenue
        FROM orders_table
        GROUP BY ProductID, ProductName
        ORDER BY Total_Revenue DESC
    """
    
    spark.sql(query).show(truncate=False)
    spark.stop()
</file>

<file path="docker-compose.yml">
services:
  namenode:
    image: bde2020/hadoop-namenode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-master
    ports:
      - "9870:9870"
      - "9000:9000"
    environment:
      - CLUSTER_NAME=bigdata
    env_file:
      - ./hadoop.env
    volumes:
      - hadoop_namenode:/hadoop/dfs/name

  datanode1:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-slave1
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    volumes:
      - hadoop_datanode1:/hadoop/dfs/data

  datanode2:
    image: bde2020/hadoop-datanode:2.0.0-hadoop3.2.1-java8
    container_name: hadoop-slave2
    depends_on:
      - namenode
    env_file:
      - ./hadoop.env
    volumes:
      - hadoop_datanode2:/hadoop/dfs/data

  postgres:
    image: postgres:13
    container_name: hive-postgres
    environment:
      POSTGRES_DB: metastore
      POSTGRES_USER: hive
      POSTGRES_PASSWORD: hive
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U hive -d metastore"]
      interval: 10s
      timeout: 5s
      retries: 5

  hive-metastore:
    image: bde2020/hive:2.3.2
    container_name: hive-metastore
    restart: unless-stopped
    depends_on:
      - postgres
      - namenode
    env_file:
      - ./hadoop.env
    volumes:
      - ./hive/conf/hive-site.xml:/opt/hive/conf/hive-site.xml
    environment:
      - HIVE_CORE_CONF_fs_defaultFS=hdfs://hadoop-master:9000
      # 🔥 4 DÒNG QUYẾT ĐỊNH ÉP NÓ NHẬN POSTGRES CHÍNH XÁC:
      - DB_DRIVER=postgresql
      - DB_HOST=hive-postgres
      - DB_USER=hive
      - DB_PASS=hive
    command: /opt/hive/bin/hive --service metastore
    ports:
      - "9083:9083"

  hive-server:
    image: bde2020/hive:2.3.2
    container_name: hive-server
    restart: unless-stopped
    depends_on:
      - hive-metastore
    env_file:
      - ./hadoop.env
    volumes:
      - ./hive/conf/hive-site.xml:/opt/hive/conf/hive-site.xml
    environment:
      - HIVE_CORE_CONF_fs_defaultFS=hdfs://hadoop-master:9000
      # 🔥 Đồng bộ sang bên này để HiveServer2 biết đường tìm DB:
      - DB_DRIVER=postgresql
      - DB_HOST=hive-postgres
      - DB_USER=hive
      - DB_PASS=hive
    command: /opt/hive/bin/hive --service hiveserver2
    ports:
      - "10000:10000"
      - "10002:10002"

  nifi:
    image: apache/nifi:1.23.2
    container_name: nifi-server
    ports:
      - "8080:8080"
    environment:
      - NIFI_WEB_HTTP_PORT=8080
    depends_on:
      - namenode
    volumes:
      - /home/raviel/bigdata-project/realtime-data:/opt/nifi/nifi-current/realtime-data

      - /home/raviel/bigdata-project/nifi_conf:/opt/nifi/nifi-current/conf

  spark-master:
    image: apache/spark:3.5.0
    container_name: spark-master
    ports:
      - "8081:8080"
      - "7077:7077"
    environment:
      - SPARK_MASTER_HOST=spark-master
      - SPARK_MASTER_PORT=7077
      - SPARK_MASTER_WEBUI_PORT=8080
    volumes:
      - /home/raviel/bigdata-project/3_spark_jobs:/opt/spark/jobs
    command: /opt/spark/sbin/../bin/spark-class org.apache.spark.deploy.master.Master

  spark-worker:
    image: apache/spark:3.5.0
    container_name: spark-worker-1
    depends_on:
      - spark-master
    environment:
      - SPARK_MASTER_URL=spark://spark-master:7077
    command: /opt/spark/sbin/../bin/spark-class org.apache.spark.deploy.worker.Worker spark://spark-master:7077

volumes:
  hadoop_namenode:
  hadoop_datanode1:
  hadoop_datanode2:
  postgres_data:
  hive_metastore_data:
</file>

<file path="hadoop.env">
CORE_CONF_fs_defaultFS=hdfs://hadoop-master:9000
CORE_CONF_hadoop_http_staticuser_user=root
CORE_CONF_hadoop_proxyuser_hue_hosts=*
CORE_CONF_hadoop_proxyuser_hue_groups=*

HDFS_CONF_dfs_replication=2
HDFS_CONF_dfs_permissions_enabled=false

YARN_CONF_yarn_resourcemanager_hostname=hadoop-master
YARN_CONF_yarn_nodemanager_resource_memory_mb=1024
YARN_CONF_yarn_scheduler_maximum_allocation_mb=1024
YARN_CONF_yarn_scheduler_minimum_allocation_mb=256
YARN_CONF_yarn_nodemanager_vmem_check_enabled=false

MAPRED_CONF_mapreduce_framework_name=yarn
MAPRED_CONF_mapreduce_map_memory_mb=512
MAPRED_CONF_mapreduce_reduce_memory_mb=512

DB_DRIVER=postgresql
DB_HOST=hive-postgres
DB_USER=hive
DB_PASS=hive
</file>

<file path="hive/conf/hive-site.xml">
<?xml version="1.0"?>
<configuration>

  <property>
    <name>javax.jdo.option.ConnectionURL</name>
    <value>
      jdbc:postgresql://hive-postgres:5432/metastore
    </value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionDriverName</name>
    <value>org.postgresql.Driver</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionUserName</name>
    <value>hive</value>
  </property>

  <property>
    <name>javax.jdo.option.ConnectionPassword</name>
    <value>hive</value>
  </property>

  <property>
    <name>datanucleus.autoCreateSchema</name>
    <value>true</value>
  </property>

  <property>
    <name>hive.metastore.schema.verification</name>
    <value>false</value>
  </property>

  <property>
    <name>hive.metastore.uris</name>
    <value>thrift://hive-metastore:9083</value>
  </property>

</configuration>
</file>

<file path="nifi_conf/authorizers.xml">
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
    This file lists the userGroupProviders, accessPolicyProviders, and authorizers to use when running securely. In order
    to use a specific authorizer it must be configured here and it's identifier must be specified in the nifi.properties file.
    If the authorizer is a managedAuthorizer, it may need to be configured with an accessPolicyProvider and an userGroupProvider.
    This file allows for configuration of them, but they must be configured in order:

    ...
    all userGroupProviders
    all accessPolicyProviders
    all Authorizers
    ...
-->
<authorizers>

    <!--
        The FileUserGroupProvider will provide support for managing users and groups which is backed by a file
        on the local file system.

        - Users File - The file where the FileUserGroupProvider will store users and groups.

        - Legacy Authorized Users File - The full path to an existing authorized-users.xml that will be automatically
            be used to load the users and groups into the Users File.

        - Initial User Identity [unique key] - The identity of a users and systems to seed the Users File. The name of
            each property must be unique, for example: "Initial User Identity A", "Initial User Identity B",
            "Initial User Identity C" or "Initial User Identity 1", "Initial User Identity 2", "Initial User Identity 3"

            NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the user identities,
            so the values should be the unmapped identities (i.e. full DN from a certificate).
    -->
    <userGroupProvider>
        <identifier>file-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.FileUserGroupProvider</class>
        <property name="Users File">./conf/users.xml</property>
        <property name="Legacy Authorized Users File"></property>

        <property name="Initial User Identity 1"></property>
    </userGroupProvider>

    <!--
        The LdapUserGroupProvider will retrieve users and groups from an LDAP server. The users and groups
        are not configurable.

        'Authentication Strategy' - How the connection to the LDAP server is authenticated. Possible
            values are ANONYMOUS, SIMPLE, LDAPS, or START_TLS.

        'Manager DN' - The DN of the manager that is used to bind to the LDAP server to search for users.
        'Manager Password' - The password of the manager that is used to bind to the LDAP server to
            search for users.

        'TLS - Keystore' - Path to the Keystore that is used when connecting to LDAP using LDAPS or START_TLS.
        'TLS - Keystore Password' - Password for the Keystore that is used when connecting to LDAP
            using LDAPS or START_TLS.
        'TLS - Keystore Type' - Type of the Keystore that is used when connecting to LDAP using
            LDAPS or START_TLS such as PKCS12.
        'TLS - Truststore' - Path to the Truststore that is used when connecting to LDAP using LDAPS or START_TLS.
        'TLS - Truststore Password' - Password for the Truststore that is used when connecting to
            LDAP using LDAPS or START_TLS.
        'TLS - Truststore Type' - Type of the Truststore that is used when connecting to LDAP using
            LDAPS or START_TLS such as PKCS12.
        'TLS - Client Auth' - Client authentication policy when connecting to LDAP using LDAPS or START_TLS.
            Possible values are REQUIRED, WANT, NONE.
        'TLS - Protocol' - Protocol to use when connecting to LDAP using LDAPS or START_TLS. (i.e. TLS,
            TLSv1.1, TLSv1.2, etc).
        'TLS - Shutdown Gracefully' - Specifies whether the TLS should be shut down gracefully
            before the target context is closed. Defaults to false.

        'Referral Strategy' - Strategy for handling referrals. Possible values are FOLLOW, IGNORE, THROW.
        'Connect Timeout' - Duration of connect timeout. (i.e. 10 secs).
        'Read Timeout' - Duration of read timeout. (i.e. 10 secs).

        'Url' - Space-separated list of URLs of the LDAP servers (i.e. ldap://<hostname>:<port>).
        'Page Size' - Sets the page size when retrieving users and groups. If not specified, no paging is performed.
        'Sync Interval' - Duration of time between syncing users and groups (i.e. 30 mins). Minimum allowable value is 10 secs.
        'Group Membership - Enforce Case Sensitivity' - Sets whether group membership decisions are case sensitive. When a user or group
            is inferred (by not specifying or user or group search base or user identity attribute or group name attribute) case sensitivity
            is enforced since the value to use for the user identity or group name would be ambiguous. Defaults to false.

        'User Search Base' - Base DN for searching for users (i.e. ou=users,o=nifi). Required to search users.
        'User Object Class' - Object class for identifying users (i.e. person). Required if searching users.
        'User Search Scope' - Search scope for searching users (ONE_LEVEL, OBJECT, or SUBTREE). Required if searching users.
        'User Search Filter' - Filter for searching for users against the 'User Search Base' (i.e. (memberof=cn=team1,ou=groups,o=nifi) ). Optional.
        'User Identity Attribute' - Attribute to use to extract user identity (i.e. cn). Optional. If not set, the entire DN is used.
        'User Group Name Attribute' - Attribute to use to define group membership (i.e. memberof). Optional. If not set
            group membership will not be calculated through the users. Will rely on group membership being defined
            through 'Group Member Attribute' if set. The value of this property is the name of the attribute in the user ldap entry that
            associates them with a group. The value of that user attribute could be a dn or group name for instance. What value is expected
            is configured in the 'User Group Name Attribute - Referenced Group Attribute'.
        'User Group Name Attribute - Referenced Group Attribute' - If blank, the value of the attribute defined in 'User Group Name Attribute'
            is expected to be the full dn of the group. If not blank, this property will define the attribute of the group ldap entry that
            the value of the attribute defined in 'User Group Name Attribute' is referencing (i.e. name). Use of this property requires that
            'Group Search Base' is also configured.

        'Group Search Base' - Base DN for searching for groups (i.e. ou=groups,o=nifi). Required to search groups.
        'Group Object Class' - Object class for identifying groups (i.e. groupOfNames). Required if searching groups.
        'Group Search Scope' - Search scope for searching groups (ONE_LEVEL, OBJECT, or SUBTREE). Required if searching groups.
        'Group Search Filter' - Filter for searching for groups against the 'Group Search Base'. Optional.
        'Group Name Attribute' - Attribute to use to extract group name (i.e. cn). Optional. If not set, the entire DN is used.
        'Group Member Attribute' - Attribute to use to define group membership (i.e. member). Optional. If not set
            group membership will not be calculated through the groups. Will rely on group membership being defined
            through 'User Group Name Attribute' if set. The value of this property is the name of the attribute in the group ldap entry that
            associates them with a user. The value of that group attribute could be a dn or memberUid for instance. What value is expected
            is configured in the 'Group Member Attribute - Referenced User Attribute'. (i.e. member: cn=User 1,ou=users,o=nifi vs. memberUid: user1)
        'Group Member Attribute - Referenced User Attribute' - If blank, the value of the attribute defined in 'Group Member Attribute'
            is expected to be the full dn of the user. If not blank, this property will define the attribute of the user ldap entry that
            the value of the attribute defined in 'Group Member Attribute' is referencing (i.e. uid). Use of this property requires that
            'User Search Base' is also configured. (i.e. member: cn=User 1,ou=users,o=nifi vs. memberUid: user1)

        NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the user identities.
            Group names are not mapped.
    -->
    <!-- To enable the ldap-user-group-provider remove 2 lines. This is 1 of 2.
    <userGroupProvider>
        <identifier>ldap-user-group-provider</identifier>
        <class>org.apache.nifi.ldap.tenants.LdapUserGroupProvider</class>
        <property name="Authentication Strategy">START_TLS</property>

        <property name="Manager DN"></property>
        <property name="Manager Password"></property>

        <property name="TLS - Keystore"></property>
        <property name="TLS - Keystore Password"></property>
        <property name="TLS - Keystore Type"></property>
        <property name="TLS - Truststore"></property>
        <property name="TLS - Truststore Password"></property>
        <property name="TLS - Truststore Type"></property>
        <property name="TLS - Client Auth"></property>
        <property name="TLS - Protocol"></property>
        <property name="TLS - Shutdown Gracefully"></property>

        <property name="Referral Strategy">FOLLOW</property>
        <property name="Connect Timeout">10 secs</property>
        <property name="Read Timeout">10 secs</property>

        <property name="Url"></property>
        <property name="Page Size"></property>
        <property name="Sync Interval">30 mins</property>
        <property name="Group Membership - Enforce Case Sensitivity">false</property>

        <property name="User Search Base"></property>
        <property name="User Object Class">person</property>
        <property name="User Search Scope">ONE_LEVEL</property>
        <property name="User Search Filter"></property>
        <property name="User Identity Attribute"></property>
        <property name="User Group Name Attribute"></property>
        <property name="User Group Name Attribute - Referenced Group Attribute"></property>

        <property name="Group Search Base"></property>
        <property name="Group Object Class">group</property>
        <property name="Group Search Scope">ONE_LEVEL</property>
        <property name="Group Search Filter"></property>
        <property name="Group Name Attribute"></property>
        <property name="Group Member Attribute"></property>
        <property name="Group Member Attribute - Referenced User Attribute"></property>
    </userGroupProvider>
    To enable the ldap-user-group-provider remove 2 lines. This is 2 of 2. -->

    <!--
        The ShellUserGroupProvider provides support for retrieving users and groups by way of shell commands
        on systems that support `sh`.  Implementations available for Linux and Mac OS, and are selected by the
        provider based on the system property `os.name`.

        'Refresh Delay' - duration to wait between subsequent refreshes.  Default is '5 mins'.
        'Exclude Groups' - regular expression used to exclude groups.  Default is '', which means no groups are excluded.
        'Exclude Users' - regular expression used to exclude users.  Default is '', which means no users are excluded.
        'Legacy Identifier Mode' - preserves the legacy behavior for id generation. Disabling this will ensure that
                                    user and group ids are differentiated to handle the case where a user and group have
                                    the same identity. Default is 'true', which means users and groups are not differentiated.
        'Command Timeout' - amount of time to wait while executing a command before timing out
    -->
    <!-- To enable the shell-user-group-provider remove 2 lines. This is 1 of 2.
    <userGroupProvider>
        <identifier>shell-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.ShellUserGroupProvider</class>
        <property name="Refresh Delay">5 mins</property>
        <property name="Exclude Groups"></property>
        <property name="Exclude Users"></property>
        <property name="Legacy Identifier Mode">true</property>
        <property name="Command Timeout">60 seconds</property>
    </userGroupProvider>
    To enable the shell-user-group-provider remove 2 lines. This is 2 of 2. -->

    <!--
        The AzureGraphUserGroupProvider fetches users and groups from Azure Active Directory (AAD) using the Microsoft Graph API.

        'Refresh Delay'                 - (Optional) Duration of delay between each user and group refresh. Default is `5 mins`.
        'Authority Endpoint'            - The endpoint of the Azure AD login. This can be found in the Azure portal under
            Azure Active Directory -> App registrations -> [application name] -> Endpoints.
        'Directory ID'                  - Tenant ID or Directory ID. This can be found in the Azural portal under
            Azure Active Directory -> App registrations -> [application name] -> Directory (tenant) ID.
        'Application ID'                - Client ID or Application ID of the Azure app registration. This can be found in the
            Azure portal under Azure Active Directory -> App registrations -> [application name] -> Overview -> Application (client) ID.
        'Client Secret'                 - A client secret from the Azure app registration. Secrets can be created in the Azure portal under
            Azure Active Directory -> App registrations -> [application name] -> Certificates & secrets -> Client secrets -> [+] New client secret.
        'Group Filter Prefix'           - (Optional) Prefix filter for Azure AD groups. Matches against the group displayName
            to retrieve only groups with names starting with the provided prefix.
        'Group Filter Suffix'           - (Optional) Suffix filter for Azure AD groups. Matches against the group displayName
            to retrieve only groups with names ending with the provided suffix.
        'Group Filter Substring'        - (Optional) Substring filter for Azure AD groups. Matches against the group displayName
            to retrieve only groups with names containing the provided substring.
        'Group Filter List Inclusion'   - (Optional) Comma-separated list of Azure AD groups. If no string-based matching filter
            (i.e., prefix, suffix, and substring) is specified, set this property to avoid fetching all groups and users in the
            Azure AD tenant.
        'Page Size'                     - (Optional) Page size to use with the Microsoft Graph API. Set to 0 to disable paging API
            calls. Default: 50, Max: 999.
        'Claim for Username'            - (Optional) The property of the user directory object mapped to the NiFi user name field.
            Default is 'upn'. 'email' is another option when nifi.security.user.oidc.fallback.claims.identifying.user is set to 'upn'.
    -->
    <!-- To enable the azure-graph-user-group-provider remove 2 lines. This is 1 of 2.
    <userGroupProvider>
        <identifier>azure-graph-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.azure.AzureGraphUserGroupProvider</class>
        <property name="Refresh Delay">5 mins</property>
        <property name="Authority Endpoint">https://login.microsoftonline.com</property>
        <property name="Directory ID">XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXX</property>
        <property name="Application ID">XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXX</property>
        <property name="Client Secret">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</property>
        <property name="Group Filter Prefix"></property>
        <property name="Group Filter Suffix"></property>
        <property name="Group Filter Substring"></property>
        <property name="Group Filter List Inclusion"></property>
        <property name="Page Size"></property>
        <property name="Claim for Username">upn</property>
    </userGroupProvider>
    To enable the azure-graph-user-group-provider remove 2 lines. This is 2 of 2. -->

    <!--
        The CompositeUserGroupProvider will provide support for retrieving users and groups from multiple sources.

        - User Group Provider [unique key] - The identifier of user group providers to load from. The name of
            each property must be unique, for example: "User Group Provider A", "User Group Provider B",
            "User Group Provider C" or "User Group Provider 1", "User Group Provider 2", "User Group Provider 3"

            NOTE: Any identity mapping rules specified in nifi.properties are not applied in this implementation. This behavior
            would need to be applied by the base implementation.
    -->
    <!-- To enable the composite-user-group-provider remove 2 lines. This is 1 of 2.
    <userGroupProvider>
        <identifier>composite-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.CompositeUserGroupProvider</class>
        <property name="User Group Provider 1"></property>
    </userGroupProvider>
    To enable the composite-user-group-provider remove 2 lines. This is 2 of 2. -->

    <!--
        The CompositeConfigurableUserGroupProvider will provide support for retrieving users and groups from multiple sources.
        Additionally, a single configurable user group provider is required. Users from the configurable user group provider
        are configurable, however users loaded from one of the User Group Provider [unique key] will not be.

        - Configurable User Group Provider - A configurable user group provider.

        - User Group Provider [unique key] - The identifier of user group providers to load from. The name of
            each property must be unique, for example: "User Group Provider A", "User Group Provider B",
            "User Group Provider C" or "User Group Provider 1", "User Group Provider 2", "User Group Provider 3"

            NOTE: Any identity mapping rules specified in nifi.properties are not applied in this implementation. This behavior
            would need to be applied by the base implementation.
    -->

    <!-- To enable the composite-configurable-user-group-provider remove 2 lines. This is 1 of 2.
    <userGroupProvider>
        <identifier>composite-configurable-user-group-provider</identifier>
        <class>org.apache.nifi.authorization.CompositeConfigurableUserGroupProvider</class>
        <property name="Configurable User Group Provider">file-user-group-provider</property>
        <property name="User Group Provider 1"></property>
    </userGroupProvider>
    To enable the composite-configurable-user-group-provider remove 2 lines. This is 2 of 2. -->

    <!--
        The FileAccessPolicyProvider will provide support for managing access policies which is backed by a file
        on the local file system.

        - User Group Provider - The identifier for an User Group Provider defined above that will be used to access
            users and groups for use in the managed access policies.

        - Authorizations File - The file where the FileAccessPolicyProvider will store policies.

        - Initial Admin Identity - The identity of an initial admin user that will be granted access to the UI and
            given the ability to create additional users, groups, and policies. The value of this property could be
            a DN when using certificates or LDAP, or a Kerberos principal. This property will only be used when there
            are no other policies defined. If this property is specified then a Legacy Authorized Users File can not be specified.

            NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the initial admin identity,
            so the value should be the unmapped identity. This identity must be found in the configured User Group Provider.

        - Legacy Authorized Users File - The full path to an existing authorized-users.xml that will be automatically
            converted to the new authorizations model. If this property is specified then an Initial Admin Identity can
            not be specified, and this property will only be used when there are no other users, groups, and policies defined.

            NOTE: Any users in the legacy users file must be found in the configured User Group Provider.

        - Node Identity [unique key] - The identity of a NiFi cluster node. When clustered, a property for each node
            should be defined, so that every node knows about every other node. If not clustered these properties can be ignored.
            The name of each property must be unique, for example for a three node cluster:
            "Node Identity A", "Node Identity B", "Node Identity C" or "Node Identity 1", "Node Identity 2", "Node Identity 3"

            NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the node identities,
            so the values should be the unmapped identities (i.e. full DN from a certificate). This identity must be found
            in the configured User Group Provider.

        - Node Group - The name of a group containing NiFi cluster nodes. The typical use for this is when nodes are dynamically
            added/removed from the cluster.

            NOTE: The group must exist before starting NiFi.
    -->
    <accessPolicyProvider>
        <identifier>file-access-policy-provider</identifier>
        <class>org.apache.nifi.authorization.FileAccessPolicyProvider</class>
        <property name="User Group Provider">file-user-group-provider</property>
        <property name="Authorizations File">./conf/authorizations.xml</property>
        <property name="Initial Admin Identity"></property>
        <property name="Legacy Authorized Users File"></property>
        <property name="Node Identity 1"></property>
        <property name="Node Group"></property>
    </accessPolicyProvider>

    <!--
        The StandardManagedAuthorizer. This authorizer implementation must be configured with the
        Access Policy Provider which it will use to access and manage users, groups, and policies.
        These users, groups, and policies will be used to make all access decisions during authorization
        requests.

        - Access Policy Provider - The identifier for an Access Policy Provider defined above.
    -->
    <authorizer>
        <identifier>managed-authorizer</identifier>
        <class>org.apache.nifi.authorization.StandardManagedAuthorizer</class>
        <property name="Access Policy Provider">file-access-policy-provider</property>
    </authorizer>

    <!--
        NOTE: This Authorizer has been replaced with the more granular approach configured above with the Standard
        Managed Authorizer. However, it is still available for backwards compatibility reasons.

        The FileAuthorizer is NiFi's provided authorizer and has the following properties:

        - Authorizations File - The file where the FileAuthorizer will store policies.

        - Users File - The file where the FileAuthorizer will store users and groups.

        - Initial Admin Identity - The identity of an initial admin user that will be granted access to the UI and
            given the ability to create additional users, groups, and policies. The value of this property could be
            a DN when using certificates or LDAP, or a Kerberos principal. This property will only be used when there
            are no other users, groups, and policies defined. If this property is specified then a Legacy Authorized
            Users File can not be specified.

            NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the initial admin identity,
            so the value should be the unmapped identity.

        - Legacy Authorized Users File - The full path to an existing authorized-users.xml that will be automatically
            converted to the new authorizations model. If this property is specified then an Initial Admin Identity can
            not be specified, and this property will only be used when there are no other users, groups, and policies defined.

        - Node Identity [unique key] - The identity of a NiFi cluster node. When clustered, a property for each node
            should be defined, so that every node knows about every other node. If not clustered these properties can be ignored.
            The name of each property must be unique, for example for a three node cluster:
            "Node Identity A", "Node Identity B", "Node Identity C" or "Node Identity 1", "Node Identity 2", "Node Identity 3"

            NOTE: Any identity mapping rules specified in nifi.properties will also be applied to the node identities,
            so the values should be the unmapped identities (i.e. full DN from a certificate).
    -->
    <!-- <authorizer>
        <identifier>file-provider</identifier>
        <class>org.apache.nifi.authorization.FileAuthorizer</class>
        <property name="Authorizations File">./conf/authorizations.xml</property>
        <property name="Users File">./conf/users.xml</property>
        <property name="Initial Admin Identity"></property>
        <property name="Legacy Authorized Users File"></property>

        <property name="Node Identity 1"></property>
    </authorizer>
    -->

    <!--
        Single User Authorizer requires the configuration of the SingleUserLoginIdentityProvider
        in login-identity-provider.xml and in nifi.properties

        The managed-authorizer should be used for production deployments
    -->
    <authorizer>
        <identifier>single-user-authorizer</identifier>
        <class>org.apache.nifi.authorization.single.user.SingleUserAuthorizer</class>
    </authorizer>
</authorizers>
</file>

<file path="nifi_conf/bootstrap-aws.conf">
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# AWS KMS Key ID is required to be configured for AWS KMS Sensitive Property Provider
aws.kms.key.id=

# NiFi uses the following properties when authentication to AWS when all values are provided.
# NiFi uses the default AWS credentials provider chain when one or more or the following properties are blank
# AWS SDK documentation describes the default credential retrieval order:
# https://docs.aws.amazon.com/sdk-for-java/latest/developer-guide/credentials.html#credentials-chain
aws.access.key.id=
aws.secret.access.key=
aws.region=
</file>

<file path="nifi_conf/bootstrap-azure.conf">
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Key Identifier for Azure Key Vault Key Sensitive Property Provider
azure.keyvault.key.id=
# Encryption Algorithm for Azure Key Vault Key Sensitive Property Provider
azure.keyvault.encryption.algorithm=

# Vault URI for Azure Key Vault Secret Sensitive Property Provider
azure.keyvault.uri=
</file>

<file path="nifi_conf/bootstrap-gcp.conf">
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# These GCP KMS settings must all be configured in order to use the GCP KMS Sensitive Property Provider
gcp.kms.project=
gcp.kms.location=
gcp.kms.keyring=
gcp.kms.key=
</file>

<file path="nifi_conf/bootstrap-hashicorp-vault.conf">
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# HTTP or HTTPS URI for HashiCorp Vault is required to enable the Sensitive Properties Provider
vault.uri=

# Transit Path is required to enable the Sensitive Properties Provider Protection Scheme 'hashicorp/vault/transit/{path}'
vault.transit.path=

# Key/Value Path is required to enable the Sensitive Properties Provider Protection Scheme 'hashicorp/vault/kv/{path}'
vault.kv.path=
# Key/Value Secrets Engine version may be 1 or 2, and defaults to 1
# vault.kv.version=1

# Token Authentication example properties
# vault.authentication=TOKEN
# vault.token=<token value>

# Optional file supports authentication properties described in the Spring Vault Environment Configuration
# https://docs.spring.io/spring-vault/docs/2.3.x/reference/html/#vault.core.environment-vault-configuration
#
# All authentication properties must be included in bootstrap-hashicorp-vault.conf when this property is not specified.
# Properties in bootstrap-hashicorp-vault.conf take precedence when the same values are defined in both files.
# Token Authentication is the default when the 'vault.authentication' property is not specified.
vault.authentication.properties.file=

# Optional Timeout properties
vault.connection.timeout=5 secs
vault.read.timeout=15 secs

# Optional TLS properties
vault.ssl.enabledCipherSuites=
vault.ssl.enabledProtocols=
vault.ssl.key-store=
vault.ssl.key-store-type=
vault.ssl.key-store-password=
vault.ssl.trust-store=
vault.ssl.trust-store-type=
vault.ssl.trust-store-password=
</file>

<file path="nifi_conf/bootstrap-notification-services.xml">
<?xml version="1.0"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<services>
    <!-- This file is used to define how interested parties are notified when events in NiFi's lifecycle occur. -->
    <!-- The format of this file is:
        <services>
            <service>
                <id>service-identifier</id>
                <class>org.apache.nifi.notifications.DesiredNotificationService</class>
                <property name="property name">property value</property>
                <property name="another property">another property value</property>
            </service>
        </services>
        
        This file can contain 0 to many different service definitions.
        The id can then be referenced from the bootstrap.conf file in order to configure the notification service
        to be used when particular lifecycle events occur.
    -->
    
<!--
     <service>
        <id>email-notification</id>
        <class>org.apache.nifi.bootstrap.notification.email.EmailNotificationService</class>
        <property name="SMTP Hostname"></property>
        <property name="SMTP Port"></property>
        <property name="SMTP Username"></property>
        <property name="SMTP Password"></property>
        <property name="SMTP TLS"></property>
        <property name="From"></property>
        <property name="To"></property>
     </service>
-->
<!--
     <service>
        <id>http-notification</id>
        <class>org.apache.nifi.bootstrap.notification.http.HttpNotificationService</class>
        <property name="URL"></property>
     </service>
-->
</services>
</file>

<file path="nifi_conf/bootstrap.conf">
#
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Java command to use when running NiFi
java=java

# Username to use when running NiFi. This value will be ignored on Windows.
run.as=

# Preserve shell environment while runnning as "run.as" user
preserve.environment=false

# Configure where NiFi's lib and conf directories live
lib.dir=./lib
conf.dir=./conf

# How long to wait after telling NiFi to shutdown before explicitly killing the Process
graceful.shutdown.seconds=20

# Disable JSR 199 so that we can use JSP's without running a JDK
java.arg.1=-Dorg.apache.jasper.compiler.disablejsr199=true

# JVM memory settings
java.arg.2=-Xms512m
java.arg.3=-Xmx512m

# Enable Remote Debugging
#java.arg.debug=-agentlib:jdwp=transport=dt_socket,server=y,suspend=n,address=8000

java.arg.4=-Djava.net.preferIPv4Stack=true

# allowRestrictedHeaders is required for Cluster/Node communications to work properly
java.arg.5=-Dsun.net.http.allowRestrictedHeaders=true
java.arg.6=-Djava.protocol.handler.pkgs=sun.net.www.protocol

# The G1GC is known to cause some problems in Java 8 and earlier, but the issues were addressed in Java 9. If using Java 8 or earlier,
# it is recommended that G1GC not be used, especially in conjunction with the Write Ahead Provenance Repository. However, if using a newer
# version of Java, it can result in better performance without significant "stop-the-world" delays.
#java.arg.13=-XX:+UseG1GC

#Set headless mode by default
java.arg.14=-Djava.awt.headless=true

# Root key in hexadecimal format for encrypted sensitive configuration values
nifi.bootstrap.sensitive.key=

# Sensitive Property Provider configuration

# HashiCorp Vault Sensitive Property Providers
#nifi.bootstrap.protection.hashicorp.vault.conf=./conf/bootstrap-hashicorp-vault.conf

# AWS Sensitive Property Providers
#nifi.bootstrap.protection.aws.conf=./conf/bootstrap-aws.conf

# Azure Key Vault Sensitive Property Providers
#nifi.bootstrap.protection.azure.keyvault.conf=./conf/bootstrap-azure.conf

# GCP KMS Sensitive Property Providers
#nifi.bootstrap.protection.gcp.kms.conf=./conf/bootstrap-gcp.conf

# Sets the provider of SecureRandom to /dev/urandom to prevent blocking on VMs
java.arg.15=-Djava.security.egd=file:/dev/urandom

# Requires JAAS to use only the provided JAAS configuration to authenticate a Subject, without using any "fallback" methods (such as prompting for username/password)
# Please see https://docs.oracle.com/javase/8/docs/technotes/guides/security/jgss/single-signon.html, section "EXCEPTIONS TO THE MODEL"
java.arg.16=-Djavax.security.auth.useSubjectCredsOnly=true

# Zookeeper 3.5 now includes an Admin Server that starts on port 8080, since NiFi is already using that port disable by default.
# Please see https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_adminserver_config for configuration options.
java.arg.17=-Dzookeeper.admin.enableServer=false

# The following options configure a Java Agent to handle native library loading.
# It is needed when a custom jar (eg. JDBC driver) has been configured on a component in the flow and this custom jar depends on a native library
# and tries to load it by its absolute path (java.lang.System.load(String filename) method call).
# Use this Java Agent only if you get "Native Library ... already loaded in another classloader" errors otherwise!
#java.arg.18=-javaagent:./lib/aspectj/aspectjweaver-1.9.6.jar
#java.arg.19=-Daj.weaving.loadersToSkip=sun.misc.Launcher$AppClassLoader,jdk.internal.loader.ClassLoaders$AppClassLoader,org.eclipse.jetty.webapp.WebAppClassLoader,\
#            org.apache.jasper.servlet.JasperLoader,org.jvnet.hk2.internal.DelegatingClassLoader,org.apache.nifi.nar.NarClassLoader
# End of Java Agent config for native library loading.

###
# Notification Services for notifying interested parties when NiFi is stopped, started, dies
###

# XML File that contains the definitions of the notification services
notification.services.file=./conf/bootstrap-notification-services.xml

# In the case that we are unable to send a notification for an event, how many times should we retry?
notification.max.attempts=5

# Comma-separated list of identifiers that are present in the notification.services.file; which services should be used to notify when NiFi is started?
#nifi.start.notification.services=email-notification

# Comma-separated list of identifiers that are present in the notification.services.file; which services should be used to notify when NiFi is stopped?
#nifi.stop.notification.services=email-notification

# Comma-separated list of identifiers that are present in the notification.services.file; which services should be used to notify when NiFi dies?
#nifi.dead.notification.services=email-notification

# The first curator connection issue is logged as ERROR, for example when NiFi cannot connect to one of the Zookeeper nodes.
# Additional connection issues are logged as DEBUG until the connection is restored.
java.arg.curator.supress.excessive.logs=-Dcurator-log-only-first-connection-issue-as-error-level=true

# Port used to listen for communications from NiFi. If this property is missing, empty, or 0, a random ephemeral port is used.
nifi.bootstrap.listen.port=0
</file>

<file path="nifi_conf/core-site.xml">
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://hadoop-master:9000</value>
    </property>
</configuration>
</file>

<file path="nifi_conf/hadoop/core-site.xml">
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>fs.defaultFS</name>
        <value>hdfs://hadoop-master:9000</value>
    </property>
</configuration>
</file>

<file path="nifi_conf/hadoop/hdfs-site.xml">
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>dfs.replication</name>
        <value>1</value>
    </property>
</configuration>
</file>

<file path="nifi_conf/hdfs-site.xml">
<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property>
        <name>dfs.replication</name>
        <value>1</value>
    </property>
</configuration>
</file>

<file path="nifi_conf/logback.xml">
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<configuration scan="true" scanPeriod="30 seconds">
    <shutdownHook class="ch.qos.logback.core.hook.DefaultShutdownHook" />

    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-app.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--
              For daily rollover, use 'app_%d.log'.
              For hourly rollover, use 'app_%d{yyyy-MM-dd_HH}.log'.
              To GZIP rolled files, replace '.log' with '.log.gz'.
              To ZIP rolled files, replace '.log' with '.log.zip'.
            -->
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-app_%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 log files worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="USER_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-user.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--
              For daily rollover, use 'user_%d.log'.
              For hourly rollover, use 'user_%d{yyyy-MM-dd_HH}.log'.
              To GZIP rolled files, replace '.log' with '.log.gz'.
              To ZIP rolled files, replace '.log' with '.log.zip'.
            -->
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-user_%d.log</fileNamePattern>
            <!-- keep 30 log files worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="REQUEST_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-request.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-request_%d.log</fileNamePattern>
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%msg%n</pattern>
        </encoder>
    </appender>

    <appender name="BOOTSTRAP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-bootstrap.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!--
              For daily rollover, use 'bootstrap_%d.log'.
              For hourly rollover, use 'bootstrap_%d{yyyy-MM-dd_HH}.log'.
              To GZIP rolled files, replace '.log' with '.log.gz'.
              To ZIP rolled files, replace '.log' with '.log.zip'.
            -->
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-bootstrap_%d.log</fileNamePattern>
            <!-- keep 5 log files worth of history -->
            <maxHistory>5</maxHistory>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEPRECATION_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-deprecation.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-deprecation_%d.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>10</maxHistory>
            <totalSizeCap>100MB</totalSizeCap>
        </rollingPolicy>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="DEDICATED_LOGGING" class="ch.qos.logback.classic.sift.SiftingAppender">
        <discriminator class="org.apache.nifi.logging.NifiDiscriminator"/>
        <sift>
            <appender name="APP-${logFileSuffix}_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
                <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-app-${logFileSuffix}.log</file>
                <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
                    <!--
                    For daily rollover, use 'app_%d.log'.
                    For hourly rollover, use 'app_%d{yyyy-MM-dd_HH}.log'.
                    To GZIP rolled files, replace '.log' with '.log.gz'.
                    To ZIP rolled files, replace '.log' with '.log.zip'.
                    -->
                    <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-app-${logFileSuffix}_%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
                    <maxFileSize>100MB</maxFileSize>
                    <!-- keep 30 log files worth of history -->
                    <maxHistory>30</maxHistory>
                </rollingPolicy>
                <immediateFlush>true</immediateFlush>
                <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                    <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
                </encoder>
            </appender>
        </sift>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- valid logging levels: TRACE, DEBUG, INFO, WARN, ERROR -->

    <!-- Deprecation Log -->
    <logger name="deprecation" level="WARN" additivity="false">
        <appender-ref ref="DEPRECATION_FILE"/>
    </logger>

    <logger name="org.apache.nifi" level="INFO"/>
    <logger name="org.apache.nifi.processors" level="WARN"/>
    <logger name="org.apache.nifi.processors.standard.LogAttribute" level="INFO"/>
    <logger name="org.apache.nifi.processors.standard.LogMessage" level="INFO"/>
    <logger name="org.apache.nifi.controller.repository.StandardProcessSession" level="WARN" />
    <logger name="org.apache.parquet.hadoop.InternalParquetRecordReader" level="WARN" />

    <logger name="org.apache.zookeeper.ClientCnxn" level="ERROR" />
    <logger name="org.apache.zookeeper.server.NIOServerCnxn" level="ERROR" />
    <logger name="org.apache.zookeeper.server.NIOServerCnxnFactory" level="ERROR" />
    <logger name="org.apache.zookeeper.server.NettyServerCnxnFactory" level="ERROR" />
    <logger name="org.apache.zookeeper.server.quorum" level="ERROR" />
    <logger name="org.apache.zookeeper.ZooKeeper" level="ERROR" />
    <logger name="org.apache.zookeeper.server.PrepRequestProcessor" level="ERROR" />
    <logger name="org.apache.nifi.controller.reporting.LogComponentStatuses" level="ERROR" />

    <logger name="org.apache.calcite.runtime.CalciteException" level="OFF" />

    <logger name="org.apache.curator.framework.recipes.leader.LeaderSelector" level="OFF" />
    <logger name="org.apache.curator.ConnectionState" level="OFF" />

    <!-- Logger for managing logging statements for nifi clusters. -->
    <logger name="org.apache.nifi.cluster" level="INFO"/>

    <!-- Logger for logging HTTP requests received by the web server. -->
    <logger name="org.apache.nifi.server.JettyServer" level="INFO"/>

    <!-- Logger for managing logging statements for jetty -->
    <logger name="org.eclipse.jetty" level="INFO"/>

    <!-- Suppress non-error messages due to excessive logging by class or library -->
    <logger name="org.springframework" level="ERROR"/>
    <logger name="org.springframework.security" level="INFO"/>

    <!-- Suppress non-error messages due to known warning about redundant path annotation (NIFI-574) -->
    <logger name="org.glassfish.jersey.internal.Errors" level="ERROR"/>

    <!-- Suppress non-error messages due to Jetty AnnotationParser emitting a large amount of WARNS. Issue described in NIFI-5479. -->
    <logger name="org.eclipse.jetty.annotations.AnnotationParser" level="ERROR"/>

    <!-- Suppress non-error messages from SSHJ which was emitting large amounts of INFO logs by default -->
    <logger name="net.schmizz.sshj" level="WARN" />
    <logger name="com.hierynomus.sshj" level="WARN" />

    <!-- Suppress non-error messages from SMBJ which was emitting large amounts of INFO logs by default -->
    <logger name="com.hierynomus.smbj" level="WARN" />

    <!-- Suppress non-error messages from AWS KCL which was emitting large amounts of INFO logs by default -->
    <logger name="com.amazonaws.services.kinesis" level="WARN" />

    <!-- Suppress non-error messages from Apache Atlas which was emitting large amounts of INFO logs by default -->
    <logger name="org.apache.atlas" level="WARN"/>

    <!-- These log messages would normally go to the USER_FILE log, but they belong in the APP_FILE -->
    <logger name="org.apache.nifi.web.security.requests" level="INFO" additivity="false">
        <appender-ref ref="APP_FILE"/>
    </logger>

    <!--
        Logger for capturing user events. We do not want to propagate these
        log events to the root logger. These messages are only sent to the
        user-log appender.
    -->
    <logger name="org.apache.nifi.web.security" level="INFO" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>
    <logger name="org.apache.nifi.web.api.config" level="INFO" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>
    <logger name="org.apache.nifi.authorization" level="INFO" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>
    <logger name="org.apache.nifi.cluster.authorization" level="INFO" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>
    <logger name="org.apache.nifi.web.api.AccessResource" level="INFO" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>
    <logger name="org.opensaml" level="WARN" additivity="false">
        <appender-ref ref="USER_FILE"/>
    </logger>

    <!-- Web Server Request Log -->
    <logger name="org.apache.nifi.web.server.RequestLog" level="INFO" additivity="false">
        <appender-ref ref="REQUEST_FILE"/>
    </logger>

    <!--
        Logger for capturing Bootstrap logs and NiFi's standard error and standard out.
    -->
    <logger name="org.apache.nifi.bootstrap" level="INFO" additivity="false">
        <appender-ref ref="BOOTSTRAP_FILE" />
    </logger>
    <logger name="org.apache.nifi.bootstrap.Command" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="BOOTSTRAP_FILE" />
    </logger>

    <!-- Everything written to NiFi's Standard Out will be logged with the logger org.apache.nifi.StdOut at INFO level -->
    <logger name="org.apache.nifi.StdOut" level="INFO" additivity="false">
        <appender-ref ref="BOOTSTRAP_FILE" />
    </logger>

    <!-- Everything written to NiFi's Standard Error will be logged with the logger org.apache.nifi.StdErr at ERROR level -->
    <logger name="org.apache.nifi.StdErr" level="ERROR" additivity="false">
        <appender-ref ref="BOOTSTRAP_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="APP_FILE" />
    </root>

    <root level="INFO">
        <appender-ref ref="DEDICATED_LOGGING" />
    </root>

</configuration>
</file>

<file path="nifi_conf/login-identity-providers.xml">
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
    This file lists the login identity providers to use when running securely. In order
    to use a specific provider it must be configured here and it's identifier
    must be specified in the nifi.properties file.
-->
<loginIdentityProviders>
    <!--
        Single User Login Identity Provider supporting automated generation of Username and Password

        The provider will write the following log messages when 'Username' and 'Password' are empty:

        Generated Username [USERNAME]
        Generated Password [PASSWORD]

        The 'Username' will be a random UUID and the 'Password' will be stored using bcrypt hashing
    -->
    <provider>
        <identifier>single-user-provider</identifier>
        <class>org.apache.nifi.authentication.single.user.SingleUserLoginIdentityProvider</class>
        <property name="Username"/>
        <property name="Password"/>
    </provider>
    <!--
        Identity Provider for users logging in with username/password against an LDAP server.
        
        'Authentication Strategy' - How the connection to the LDAP server is authenticated. Possible
            values are ANONYMOUS, SIMPLE, LDAPS, or START_TLS.
        
        'Manager DN' - The DN of the manager that is used to bind to the LDAP server to search for users.
        'Manager Password' - The password of the manager that is used to bind to the LDAP server to
            search for users.
            
        'TLS - Keystore' - Path to the Keystore that is used when connecting to LDAP using LDAPS or START_TLS.
        'TLS - Keystore Password' - Password for the Keystore that is used when connecting to LDAP
            using LDAPS or START_TLS.
        'TLS - Keystore Type' - Type of the Keystore that is used when connecting to LDAP using
            LDAPS or START_TLS such as PKCS12.
        'TLS - Truststore' - Path to the Truststore that is used when connecting to LDAP using LDAPS or START_TLS.
        'TLS - Truststore Password' - Password for the Truststore that is used when connecting to
            LDAP using LDAPS or START_TLS.
        'TLS - Truststore Type' - Type of the Truststore that is used when connecting to LDAP using
            LDAPS or START_TLS such as PKCS12.
        'TLS - Client Auth' - Client authentication policy when connecting to LDAP using LDAPS or START_TLS.
            Possible values are REQUIRED, WANT, NONE.
        'TLS - Protocol' - Protocol to use when connecting to LDAP using LDAPS or START_TLS. (i.e. TLS,
            TLSv1.1, TLSv1.2, etc).
        'TLS - Shutdown Gracefully' - Specifies whether the TLS should be shut down gracefully 
            before the target context is closed. Defaults to false.
            
        'Referral Strategy' - Strategy for handling referrals. Possible values are FOLLOW, IGNORE, THROW.
        'Connect Timeout' - Duration of connect timeout. (i.e. 10 secs).
        'Read Timeout' - Duration of read timeout. (i.e. 10 secs).
       
        'Url' - Space-separated list of URLs of the LDAP servers (i.e. ldap://<hostname>:<port>).
        'User Search Base' - Base DN for searching for users (i.e. CN=Users,DC=example,DC=com).
        'User Search Filter' - Filter for searching for users against the 'User Search Base'.
            (i.e. sAMAccountName={0}). The user specified name is inserted into '{0}'.

        'Identity Strategy' - Strategy to identify users. Possible values are USE_DN and USE_USERNAME.
            The default functionality if this property is missing is USE_DN in order to retain
            backward compatibility. USE_DN will use the full DN of the user entry if possible.
            USE_USERNAME will use the username the user logged in with.
        'Authentication Expiration' - The duration of how long the user authentication is valid
            for. If the user never logs out, they will be required to log back in following
            this duration.
    -->
    <!-- To enable the ldap-provider remove 2 lines. This is 1 of 2. 
    <provider>
        <identifier>ldap-provider</identifier>
        <class>org.apache.nifi.ldap.LdapProvider</class>
        <property name="Authentication Strategy">START_TLS</property>

        <property name="Manager DN"></property>
        <property name="Manager Password"></property>

        <property name="TLS - Keystore"></property>
        <property name="TLS - Keystore Password"></property>
        <property name="TLS - Keystore Type"></property>
        <property name="TLS - Truststore"></property>
        <property name="TLS - Truststore Password"></property>
        <property name="TLS - Truststore Type"></property>
        <property name="TLS - Client Auth"></property>
        <property name="TLS - Protocol"></property>
        <property name="TLS - Shutdown Gracefully"></property>
        
        <property name="Referral Strategy">FOLLOW</property>
        <property name="Connect Timeout">10 secs</property>
        <property name="Read Timeout">10 secs</property>

        <property name="Url"></property>
        <property name="User Search Base"></property>
        <property name="User Search Filter"></property>

        <property name="Identity Strategy">USE_DN</property>
        <property name="Authentication Expiration">12 hours</property>
    </provider>
    To enable the ldap-provider remove 2 lines. This is 2 of 2. -->

    <!--
        Identity Provider for users logging in with username/password against a Kerberos KDC server.

        'Default Realm' - Default realm to provide when user enters incomplete user principal (i.e. NIFI.APACHE.ORG).
        'Authentication Expiration' - The duration of how long the user authentication is valid for. If the user never logs out, they will be required to log back in following this duration.
    -->
    <!-- To enable the kerberos-provider remove 2 lines. This is 1 of 2.
    <provider>
        <identifier>kerberos-provider</identifier>
        <class>org.apache.nifi.kerberos.KerberosProvider</class>
        <property name="Default Realm">NIFI.APACHE.ORG</property>
        <property name="Authentication Expiration">12 hours</property>
    </provider>
    To enable the kerberos-provider remove 2 lines. This is 2 of 2. -->
</loginIdentityProviders>
</file>

<file path="nifi_conf/nifi.properties">
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Core Properties #
nifi.flow.configuration.file=./conf/flow.xml.gz
nifi.flow.configuration.json.file=./conf/flow.json.gz
nifi.flow.configuration.archive.enabled=true
nifi.flow.configuration.archive.dir=./conf/archive/
nifi.flow.configuration.archive.max.time=30 days
nifi.flow.configuration.archive.max.storage=500 MB
nifi.flow.configuration.archive.max.count=
nifi.flowcontroller.autoResumeState=true
nifi.flowcontroller.graceful.shutdown.period=10 sec
nifi.flowservice.writedelay.interval=500 ms
nifi.administrative.yield.duration=30 sec
# If a component has no work to do (is "bored"), how long should we wait before checking again for work?
nifi.bored.yield.duration=10 millis
nifi.queue.backpressure.count=10000
nifi.queue.backpressure.size=1 GB

nifi.authorizer.configuration.file=./conf/authorizers.xml
nifi.login.identity.provider.configuration.file=./conf/login-identity-providers.xml
nifi.templates.directory=./conf/templates
nifi.ui.banner.text=
nifi.ui.autorefresh.interval=30 sec
nifi.nar.library.directory=./lib
nifi.nar.library.autoload.directory=./extensions
nifi.nar.working.directory=./work/nar/
nifi.documentation.working.directory=./work/docs/components
nifi.nar.unpack.uber.jar=false

####################
# State Management #
####################
nifi.state.management.configuration.file=./conf/state-management.xml
# The ID of the local state provider
nifi.state.management.provider.local=local-provider
# The ID of the cluster-wide state provider. This will be ignored if NiFi is not clustered but must be populated if running in a cluster.
nifi.state.management.provider.cluster=zk-provider
# Specifies whether or not this instance of NiFi should run an embedded ZooKeeper server
nifi.state.management.embedded.zookeeper.start=false
# Properties file that provides the ZooKeeper properties to use if <nifi.state.management.embedded.zookeeper.start> is set to true
nifi.state.management.embedded.zookeeper.properties=./conf/zookeeper.properties

# H2 Settings
nifi.database.directory=./database_repository
nifi.h2.url.append=;LOCK_TIMEOUT=25000;WRITE_DELAY=0;AUTO_SERVER=FALSE

# Repository Encryption properties override individual repository implementation properties
nifi.repository.encryption.protocol.version=
nifi.repository.encryption.key.id=
nifi.repository.encryption.key.provider=
nifi.repository.encryption.key.provider.keystore.location=
nifi.repository.encryption.key.provider.keystore.password=

# FlowFile Repository
nifi.flowfile.repository.implementation=org.apache.nifi.controller.repository.WriteAheadFlowFileRepository
nifi.flowfile.repository.wal.implementation=org.apache.nifi.wali.SequentialAccessWriteAheadLog
nifi.flowfile.repository.directory=./flowfile_repository
nifi.flowfile.repository.checkpoint.interval=20 secs
nifi.flowfile.repository.always.sync=false
nifi.flowfile.repository.retain.orphaned.flowfiles=true

nifi.swap.manager.implementation=org.apache.nifi.controller.FileSystemSwapManager
nifi.queue.swap.threshold=20000

# Content Repository
nifi.content.repository.implementation=org.apache.nifi.controller.repository.FileSystemRepository
nifi.content.claim.max.appendable.size=50 KB
nifi.content.repository.directory.default=./content_repository
nifi.content.repository.archive.max.retention.period=7 days
nifi.content.repository.archive.max.usage.percentage=50%
nifi.content.repository.archive.enabled=true
nifi.content.repository.always.sync=false
nifi.content.viewer.url=../nifi-content-viewer/

# Provenance Repository Properties
nifi.provenance.repository.implementation=org.apache.nifi.provenance.WriteAheadProvenanceRepository

# Persistent Provenance Repository Properties
nifi.provenance.repository.directory.default=./provenance_repository
nifi.provenance.repository.max.storage.time=30 days
nifi.provenance.repository.max.storage.size=10 GB
nifi.provenance.repository.rollover.time=10 mins
nifi.provenance.repository.rollover.size=100 MB
nifi.provenance.repository.query.threads=2
nifi.provenance.repository.index.threads=2
nifi.provenance.repository.compress.on.rollover=true
nifi.provenance.repository.always.sync=false
# Comma-separated list of fields. Fields that are not indexed will not be searchable. Valid fields are:
# EventType, FlowFileUUID, Filename, TransitURI, ProcessorID, AlternateIdentifierURI, Relationship, Details
nifi.provenance.repository.indexed.fields=EventType, FlowFileUUID, Filename, ProcessorID, Relationship
# FlowFile Attributes that should be indexed and made searchable.  Some examples to consider are filename, uuid, mime.type
nifi.provenance.repository.indexed.attributes=
# Large values for the shard size will result in more Java heap usage when searching the Provenance Repository
# but should provide better performance
nifi.provenance.repository.index.shard.size=500 MB
# Indicates the maximum length that a FlowFile attribute can be when retrieving a Provenance Event from
# the repository. If the length of any attribute exceeds this value, it will be truncated when the event is retrieved.
nifi.provenance.repository.max.attribute.length=65536
nifi.provenance.repository.concurrent.merge.threads=2


# Volatile Provenance Respository Properties
nifi.provenance.repository.buffer.size=100000

# Component and Node Status History Repository
nifi.components.status.repository.implementation=org.apache.nifi.controller.status.history.VolatileComponentStatusRepository

# Volatile Status History Repository Properties
nifi.components.status.repository.buffer.size=1440
nifi.components.status.snapshot.frequency=1 min

# QuestDB Status History Repository Properties
nifi.status.repository.questdb.persist.node.days=14
nifi.status.repository.questdb.persist.component.days=3
nifi.status.repository.questdb.persist.location=./status_repository

# Site to Site properties
nifi.remote.input.host=1726d29430e2
nifi.remote.input.secure=false
nifi.remote.input.socket.port=10000
nifi.remote.input.http.enabled=true
nifi.remote.input.http.transaction.ttl=30 sec
nifi.remote.contents.cache.expiration=30 secs

# web properties #
#############################################

# For security, NiFi will present the UI on 127.0.0.1 and only be accessible through this loopback interface.
# Be aware that changing these properties may affect how your instance can be accessed without any restriction.
# We recommend configuring HTTPS instead. The administrators guide provides instructions on how to do this.

nifi.web.http.host=1726d29430e2
nifi.web.http.port=8080
nifi.web.http.network.interface.default=

#############################################

nifi.web.https.host=
nifi.web.https.port=
nifi.web.https.network.interface.default=
nifi.web.https.application.protocols=http/1.1
nifi.web.jetty.working.directory=./work/jetty
nifi.web.jetty.threads=200
nifi.web.max.header.size=16 KB
nifi.web.proxy.context.path=
nifi.web.proxy.host=
nifi.web.max.content.size=
nifi.web.max.requests.per.second=30000
nifi.web.max.access.token.requests.per.second=25
nifi.web.request.timeout=60 secs
nifi.web.request.ip.whitelist=
nifi.web.should.send.server.version=true
nifi.web.request.log.format=%{client}a - %u %t "%r" %s %O "%{Referer}i" "%{User-Agent}i"

# Filter JMX MBeans available through the System Diagnostics REST API
nifi.web.jmx.metrics.allowed.filter.pattern=

# Include or Exclude TLS Cipher Suites for HTTPS
nifi.web.https.ciphersuites.include=
nifi.web.https.ciphersuites.exclude=

# security properties #
nifi.sensitive.props.key=nfTYwrUsk6PsfZnzcsJZpQoYs2gQGgp2
nifi.sensitive.props.key.protected=
nifi.sensitive.props.algorithm=NIFI_PBKDF2_AES_GCM_256
nifi.sensitive.props.additional.keys=

nifi.security.autoreload.enabled=false
nifi.security.autoreload.interval=10 secs
nifi.security.keystore=
nifi.security.keystoreType=
nifi.security.keystorePasswd=
nifi.security.keyPasswd=
nifi.security.truststore=
nifi.security.truststoreType=
nifi.security.truststorePasswd=
nifi.security.user.authorizer=single-user-authorizer
nifi.security.allow.anonymous.authentication=false
nifi.security.user.login.identity.provider=
nifi.security.user.jws.key.rotation.period=PT1H
nifi.security.ocsp.responder.url=
nifi.security.ocsp.responder.certificate=

# OpenId Connect SSO Properties #
nifi.security.user.oidc.discovery.url=
nifi.security.user.oidc.connect.timeout=5 secs
nifi.security.user.oidc.read.timeout=5 secs
nifi.security.user.oidc.client.id=
nifi.security.user.oidc.client.secret=
nifi.security.user.oidc.preferred.jwsalgorithm=
nifi.security.user.oidc.additional.scopes=offline_access
nifi.security.user.oidc.claim.identifying.user=
nifi.security.user.oidc.fallback.claims.identifying.user=
nifi.security.user.oidc.claim.groups=groups
nifi.security.user.oidc.truststore.strategy=JDK
nifi.security.user.oidc.token.refresh.window=60 secs

# Apache Knox SSO Properties #
nifi.security.user.knox.url=
nifi.security.user.knox.publicKey=
nifi.security.user.knox.cookieName=hadoop-jwt
nifi.security.user.knox.audiences=

# SAML Properties #
nifi.security.user.saml.idp.metadata.url=
nifi.security.user.saml.sp.entity.id=
nifi.security.user.saml.identity.attribute.name=
nifi.security.user.saml.group.attribute.name=
nifi.security.user.saml.request.signing.enabled=false
nifi.security.user.saml.want.assertions.signed=true
nifi.security.user.saml.signature.algorithm=http://www.w3.org/2001/04/xmldsig-more#rsa-sha256
nifi.security.user.saml.authentication.expiration=12 hours
nifi.security.user.saml.single.logout.enabled=false
nifi.security.user.saml.http.client.truststore.strategy=JDK
nifi.security.user.saml.http.client.connect.timeout=30 secs
nifi.security.user.saml.http.client.read.timeout=30 secs

# Identity Mapping Properties #
# These properties allow normalizing user identities such that identities coming from different identity providers
# (certificates, LDAP, Kerberos) can be treated the same internally in NiFi. The following example demonstrates normalizing
# DNs from certificates and principals from Kerberos into a common identity string:
#
# nifi.security.identity.mapping.pattern.dn=^CN=(.*?), OU=(.*?), O=(.*?), L=(.*?), ST=(.*?), C=(.*?)$
# nifi.security.identity.mapping.value.dn=$1@$2
# nifi.security.identity.mapping.transform.dn=NONE
# nifi.security.identity.mapping.pattern.kerb=^(.*?)/instance@(.*?)$
# nifi.security.identity.mapping.value.kerb=$1@$2
# nifi.security.identity.mapping.transform.kerb=UPPER

# Group Mapping Properties #
# These properties allow normalizing group names coming from external sources like LDAP. The following example
# lowercases any group name.
#
# nifi.security.group.mapping.pattern.anygroup=^(.*)$
# nifi.security.group.mapping.value.anygroup=$1
# nifi.security.group.mapping.transform.anygroup=LOWER

# Listener Bootstrap properties #
# This property defines the port used to listen for communications from NiFi Bootstrap. If this property
# is missing, empty, or 0, a random ephemeral port is used.
nifi.listener.bootstrap.port=0

# cluster common properties (all nodes must have same values) #
nifi.cluster.protocol.heartbeat.interval=5 sec
nifi.cluster.protocol.heartbeat.missable.max=8
nifi.cluster.protocol.is.secure=false

# cluster node properties (only configure for cluster nodes) #
nifi.cluster.is.node=false
nifi.cluster.node.address=1726d29430e2
nifi.cluster.node.protocol.port=
nifi.cluster.node.protocol.max.threads=50
nifi.cluster.node.event.history.size=25
nifi.cluster.node.connection.timeout=5 sec
nifi.cluster.node.read.timeout=5 sec
nifi.cluster.node.max.concurrent.requests=100
nifi.cluster.firewall.file=
nifi.cluster.flow.election.max.wait.time=5 mins
nifi.cluster.flow.election.max.candidates=

# cluster load balancing properties #
nifi.cluster.load.balance.host=
nifi.cluster.load.balance.port=6342
nifi.cluster.load.balance.connections.per.node=1
nifi.cluster.load.balance.max.thread.count=8
nifi.cluster.load.balance.comms.timeout=30 sec

# zookeeper properties, used for cluster management #
nifi.zookeeper.connect.string=
nifi.zookeeper.connect.timeout=10 secs
nifi.zookeeper.session.timeout=10 secs
nifi.zookeeper.root.node=/nifi
nifi.zookeeper.client.secure=false
nifi.zookeeper.security.keystore=
nifi.zookeeper.security.keystoreType=
nifi.zookeeper.security.keystorePasswd=
nifi.zookeeper.security.truststore=
nifi.zookeeper.security.truststoreType=
nifi.zookeeper.security.truststorePasswd=
nifi.zookeeper.jute.maxbuffer=

# Zookeeper properties for the authentication scheme used when creating acls on znodes used for cluster management
# Values supported for nifi.zookeeper.auth.type are "default", which will apply world/anyone rights on znodes
# and "sasl" which will give rights to the sasl/kerberos identity used to authenticate the nifi node
# The identity is determined using the value in nifi.kerberos.service.principal and the removeHostFromPrincipal
# and removeRealmFromPrincipal values (which should align with the kerberos.removeHostFromPrincipal and kerberos.removeRealmFromPrincipal
# values configured on the zookeeper server).
nifi.zookeeper.auth.type=
nifi.zookeeper.kerberos.removeHostFromPrincipal=
nifi.zookeeper.kerberos.removeRealmFromPrincipal=

# kerberos #
nifi.kerberos.krb5.file=

# kerberos service principal #
nifi.kerberos.service.principal=
nifi.kerberos.service.keytab.location=

# kerberos spnego principal #
nifi.kerberos.spnego.principal=
nifi.kerberos.spnego.keytab.location=
nifi.kerberos.spnego.authentication.expiration=12 hours

# external properties files for variable registry
# supports a comma delimited list of file locations
nifi.variable.registry.properties=

# analytics properties #
nifi.analytics.predict.enabled=false
nifi.analytics.predict.interval=3 mins
nifi.analytics.query.interval=5 mins
nifi.analytics.connection.model.implementation=org.apache.nifi.controller.status.analytics.models.OrdinaryLeastSquares
nifi.analytics.connection.model.score.name=rSquared
nifi.analytics.connection.model.score.threshold=.90

# runtime monitoring properties
nifi.monitor.long.running.task.schedule=
nifi.monitor.long.running.task.threshold=

# Enable automatic diagnostic at shutdown.
nifi.diagnostics.on.shutdown.enabled=false

# Include verbose diagnostic information.
nifi.diagnostics.on.shutdown.verbose=false

# The location of the diagnostics folder.
nifi.diagnostics.on.shutdown.directory=./diagnostics

# The maximum number of files permitted in the directory. If the limit is exceeded, the oldest files are deleted.
nifi.diagnostics.on.shutdown.max.filecount=10

# The diagnostics folder's maximum permitted size in bytes. If the limit is exceeded, the oldest files are deleted.
nifi.diagnostics.on.shutdown.max.directory.size=10 MB

# Performance tracking properties
## Specifies what percentage of the time we should track the amount of time processors are using CPU, reading from/writing to content repo, etc.
## This can be useful to understand which components are the most expensive and to understand where system bottlenecks may be occurring.
## The value must be in the range of 0 (inclusive) to 100 (inclusive). A larger value will produce more accurate results, while a smaller value may be
## less expensive to compute.
## Results can be obtained by running "nifi.sh diagnostics <filename>" and then inspecting the produced file.
nifi.performance.tracking.percentage=0

# NAR Provider Properties #
# These properties allow configuring one or more NAR providers. A NAR provider retrieves NARs from an external source
# and copies them to the directory specified by nifi.nar.library.autoload.directory.
#
# Each NAR provider property follows the format:
#  nifi.nar.library.provider.<identifier>.<property-name>
#
# Each NAR provider must have at least one property named "implementation".
#
# Example HDFS NAR Provider:
#   nifi.nar.library.provider.hdfs.implementation=org.apache.nifi.flow.resource.hadoop.HDFSExternalResourceProvider
#   nifi.nar.library.provider.hdfs.resources=/path/to/core-site.xml,/path/to/hdfs-site.xml
#   nifi.nar.library.provider.hdfs.storage.location=hdfs://hdfs-location
#   nifi.nar.library.provider.hdfs.source.directory=/nars
#   nifi.nar.library.provider.hdfs.kerberos.principal=nifi@NIFI.COM
#   nifi.nar.library.provider.hdfs.kerberos.keytab=/path/to/nifi.keytab
#   nifi.nar.library.provider.hdfs.kerberos.password=
#
# Example NiFi Registry NAR Provider:
#   nifi.nar.library.provider.nifi-registry.implementation=org.apache.nifi.registry.extension.NiFiRegistryNarProvider
#   nifi.nar.library.provider.nifi-registry.url=http://localhost:18080
</file>

<file path="nifi_conf/state-management.xml">
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->
<!--
  This file provides a mechanism for defining and configuring the State Providers
  that should be used for storing state locally and across a NiFi cluster. In order
  to use a specific provider, it must be configured here and its identifier
  must be specified in the nifi.properties file.
-->
<stateManagement>
    <!--
        State Provider that stores state locally in a configurable directory. This Provider requires the following properties:
        
        Directory - the directory to store components' state in. If the directory being used is a sub-directory of the NiFi installation, it
                    is important that the directory be copied over to the new version when upgrading NiFi.
        Always Sync - If set to true, any change to the repository will be synchronized to the disk, meaning that NiFi will ask the operating system not to cache the information. This is very
                expensive and can significantly reduce NiFi performance. However, if it is false, there could be the potential for data loss if either there is a sudden power loss or the
                operating system crashes. The default value is false.
        Partitions - The number of partitions.
        Checkpoint Interval - The amount of time between checkpoints.
     -->
    <local-provider>
        <id>local-provider</id>
        <class>org.apache.nifi.controller.state.providers.local.WriteAheadLocalStateProvider</class>
        <property name="Directory">./state/local</property>
        <property name="Always Sync">false</property>
        <property name="Partitions">16</property>
        <property name="Checkpoint Interval">2 mins</property>
    </local-provider>

    <!--
        State Provider that is used to store state in ZooKeeper. This Provider requires the following properties:
        
        Root Node - the root node in ZooKeeper where state should be stored. The default is '/nifi', but it is advisable to change this to a different value if not using
                   the embedded ZooKeeper server and if multiple NiFi instances may all be using the same ZooKeeper Server.
                   
        Connect String - A comma-separated list of host:port pairs to connect to ZooKeeper. For example, myhost.mydomain:2181,host2.mydomain:5555,host3:6666
        
        Session Timeout - Specifies how long this instance of NiFi is allowed to be disconnected from ZooKeeper before creating a new ZooKeeper Session. Default value is "30 seconds"
        
        Access Control - Specifies which Access Controls will be applied to the ZooKeeper ZNodes that are created by this State Provider. This value must be set to one of:
                            - Open  : ZNodes will be open to any ZooKeeper client.
                            - CreatorOnly  : ZNodes will be accessible only by the creator. The creator will have full access to create children, read, write, delete, and administer the ZNodes.
                                             This option is available only if access to ZooKeeper is secured via Kerberos or if a Username and Password are set.
    -->
    <cluster-provider>
        <id>zk-provider</id>
        <class>org.apache.nifi.controller.state.providers.zookeeper.ZooKeeperStateProvider</class>
        <property name="Connect String"></property>
        <property name="Root Node">/nifi</property>
        <property name="Session Timeout">10 seconds</property>
        <property name="Access Control">Open</property>
    </cluster-provider>

    <!--
        Cluster State Provider that stores state in Redis. This can be used as an alternative to the ZooKeeper State Provider.

        This provider requires the following properties:

            Redis Mode - The type of Redis instance:
                            - Standalone
                            - Sentinel
                            - Cluster (currently not supported for state-management due to use of WATCH command which Redis does not support in clustered mode)

            Connection String - The connection string for Redis.
                        - In a standalone instance this value will be of the form hostname:port.
                        - In a sentinel instance this value will be the comma-separated list of sentinels, such as host1:port1,host2:port2,host3:port3.
                        - In a clustered instance this value will be the comma-separated list of cluster masters, such as host1:port,host2:port,host3:port.

        This provider has the following optional properties:

            Key Prefix - The prefix for each key stored by this state provider. When sharing a single Redis across multiple NiFi instances, setting a unique
                        value for the Key Prefix will make it easier to identify which instances the keys came from (default nifi/components/).

            Database Index - The database index to be used by connections created from this connection pool.
                        See the databases property in redis.conf, by default databases 0-15 will be available.

            Communication Timeout - The timeout to use when attempting to communicate with Redis.

            Cluster Max Redirects - The maximum number of redirects that can be performed when clustered.

            Sentinel Master - The name of the sentinel master, require when Mode is set to Sentinel.

            Password - The password used to authenticate to the Redis server. See the requirepass property in redis.conf.

            Enable TLS - If true, the Redis connection will be configured to use TLS, using the keystore and truststore settings configured in
                    nifi.properties.  This means that a TLS-enabled Redis connection is only possible if the Apache NiFi instance is running in secure mode.
                    If this property is false, an insecure Redis connection will be used even if the Apache NiFi instance is secure (default false).

            Max Attempts - Maximum number of attempts when setting/clearing the state for a component. This number should be higher than the number of nodes 
                    in the NiFi cluster to account for the case where each node may concurrently try to clear a state with a local scope (default is 20).

            Pool - Max Total - The maximum number of connections that can be allocated by the pool (checked out to clients, or idle awaiting checkout).
                        A negative value indicates that there is no limit.

            Pool - Max Idle - The maximum number of idle connections that can be held in the pool, or a negative value if there is no limit.

            Pool - Min Idle - The target for the minimum number of idle connections to maintain in the pool. If the configured value of Min Idle is
                    greater than the configured value for Max Idle, then the value of Max Idle will be used instead.

            Pool - Block When Exhausted - Whether or not clients should block and wait when trying to obtain a connection from the pool when the pool
                    has no available connections. Setting this to false means an error will occur immediately when a client requests a connection and
                    none are available.

            Pool - Max Wait Time - The amount of time to wait for an available connection when Block When Exhausted is set to true.

            Pool - Min Evictable Idle Time - The minimum amount of time an object may sit idle in the pool before it is eligible for eviction.

            Pool - Time Between Eviction Runs - The amount of time between attempting to evict idle connections from the pool.

            Pool - Num Tests Per Eviction Run - The number of connections to tests per eviction attempt. A negative value indicates to test all connections.

            Pool - Test On Create - Whether or not connections should be tested upon creation (default false).

            Pool - Test On Borrow - Whether or not connections should be tested upon borrowing from the pool (default false).

            Pool - Test On Return - Whether or not connections should be tested upon returning to the pool (default false).

            Pool - Test While Idle - Whether or not connections should be tested while idle (default true).

        <cluster-provider>
            <id>redis-provider</id>
            <class>org.apache.nifi.redis.state.RedisStateProvider</class>
            <property name="Redis Mode">Standalone</property>
            <property name="Connection String">localhost:6379</property>
        </cluster-provider>
    -->

</stateManagement>
</file>

<file path="nifi_conf/stateless-logback.xml">
<?xml version="1.0" encoding="UTF-8"?>
<!--
  Licensed to the Apache Software Foundation (ASF) under one or more
  contributor license agreements.  See the NOTICE file distributed with
  this work for additional information regarding copyright ownership.
  The ASF licenses this file to You under the Apache License, Version 2.0
  (the "License"); you may not use this file except in compliance with
  the License.  You may obtain a copy of the License at
      http://www.apache.org/licenses/LICENSE-2.0
  Unless required by applicable law or agreed to in writing, software
  distributed under the License is distributed on an "AS IS" BASIS,
  WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  See the License for the specific language governing permissions and
  limitations under the License.
-->

<configuration scan="true" scanPeriod="30 seconds">
    <contextListener class="ch.qos.logback.classic.jul.LevelChangePropagator">
        <resetJUL>true</resetJUL>
    </contextListener>

    <appender name="APP_FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${org.apache.nifi.bootstrap.config.log.dir}/nifi-stateless.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--
              For daily rollover, use 'app_%d.log'.
              For hourly rollover, use 'app_%d{yyyy-MM-dd_HH}.log'.
              To GZIP rolled files, replace '.log' with '.log.gz'.
              To ZIP rolled files, replace '.log' with '.log.zip'.
            -->
            <fileNamePattern>${org.apache.nifi.bootstrap.config.log.dir}/nifi-stateless_%d{yyyy-MM-dd_HH}.%i.log</fileNamePattern>
            <maxFileSize>100MB</maxFileSize>
            <!-- keep 30 log files worth of history -->
            <maxHistory>30</maxHistory>
        </rollingPolicy>
        <immediateFlush>true</immediateFlush>
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%date %level [%thread] %logger{40} %msg%n</pattern>
        </encoder>
    </appender>

    <!-- valid logging levels: TRACE, DEBUG, INFO, WARN, ERROR -->

    <logger name="org.apache.nifi" level="INFO"/>
    <logger name="org.apache.nifi.processors" level="WARN"/>
    <logger name="org.apache.nifi.processors.standard.LogAttribute" level="INFO"/>
    <logger name="org.apache.nifi.processors.standard.LogMessage" level="INFO"/>
    <logger name="org.apache.nifi.controller.repository.StandardProcessSession" level="WARN" />

    <logger name="org.apache.calcite.runtime.CalciteException" level="OFF" />

    <!-- Suppress non-error messages from SSHJ which was emitting large amounts of INFO logs by default -->
    <logger name="net.schmizz.sshj" level="WARN" />
    <logger name="com.hierynomus.sshj" level="WARN" />

    <!-- Suppress non-error messages from SMBJ which was emitting large amounts of INFO logs by default -->
    <logger name="com.hierynomus.smbj" level="WARN" />

    <!-- Suppress non-error messages from AWS KCL which was emitting large amounts of INFO logs by default -->
    <logger name="com.amazonaws.services.kinesis" level="WARN" />

    <logger name="org.apache.nifi.stateless" level="INFO" additivity="false">
        <appender-ref ref="CONSOLE" />
        <appender-ref ref="APP_FILE" />
    </logger>

    <root level="INFO">
        <appender-ref ref="APP_FILE" />
    </root>

</configuration>
</file>

<file path="nifi_conf/stateless.properties">
# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# NAR and Working Directories #
nifi.stateless.nar.directory=./lib
nifi.stateless.working.directory=./work/stateless

# Security Properties #
nifi.stateless.security.keystore=
nifi.stateless.security.keystoreType=
nifi.stateless.security.keystorePasswd=
nifi.stateless.security.keyPasswd=
nifi.stateless.security.truststore=
nifi.stateless.security.truststoreType=
nifi.stateless.security.truststorePasswd=
nifi.stateless.sensitive.props.key=

# Extension Client Configuration #
# Zero or more Nexus repositories may be specified here.
# The following client communicates with Maven Central. To use it, uncomment the following 4 lines.
# Additional clients can be added by adding duplicate properties but changing mvn-central to a different key.
#nifi.stateless.extension.client.mvn-central.type=nexus
#nifi.stateless.extension.client.mvn-central.timeout=30 sec
#nifi.stateless.extension.client.mvn-central.baseUrl=https://repo1.maven.org/maven2/
#nifi.stateless.extension.client.mvn-central.useSslContext=false

# Schedule for status logging task
nifi.stateless.status.task.interval=1 min

# Kerberos Properties #
nifi.stateless.kerberos.krb5.file=/etc/krb5.conf
</file>

<file path="nifi_conf/zookeeper.properties">
#
#
# Licensed to the Apache Software Foundation (ASF) under one
# or more contributor license agreements.  See the NOTICE file
# distributed with this work for additional information
# regarding copyright ownership.  The ASF licenses this file
# to you under the Apache License, Version 2.0 (the
# "License"); you may not use this file except in compliance
# with the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing,
# software distributed under the License is distributed on an
# "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
# KIND, either express or implied.  See the License for the
# specific language governing permissions and limitations
# under the License.
#
#
#

initLimit=10
autopurge.purgeInterval=24
syncLimit=5
tickTime=2000
dataDir=./state/zookeeper
autopurge.snapRetainCount=30

# Embedded/distributed ZK TLS connection support can be activated by setting these properties at minimum:
#
# secureClientPort=2281
# serverCnxnFactory=org.apache.zookeeper.server.NettyServerCnxnFactory

# Most TLS configurations will set these values as well:
#
# ssl.keyStore.location=/example/path/to/key-store.jks
# ssl.keyStore.password=change this value to the actual value in your installation
# ssl.trustStore.location=/example/path/to/trust-store.jks
# ssl.trustStore.password=change this value to the actual value in your installation
# ssl.hostnameVerification=false
#
# Note that many ZK parameters can set as Java system properties, refer to the ZK admin guide for details:
#
# https://zookeeper.apache.org/doc/current/zookeeperAdmin.html#sc_configuration

# Other common settings:
#
# client.portUnification=true
# admin.enableServer=false

# The server string has changed as of 3.5.5 and the client port is now specified at the end of the server string:
# https://zookeeper.apache.org/doc/r3.5.5/zookeeperReconfig.html#sc_reconfig_clientport
#
# Specifies the servers that are part of this zookeeper ensemble. For
# every NiFi instance running an embedded zookeeper, there needs to be
# a server entry below. Client port is now specified at the end of the string
# after a semi-colon.
#
# For instance:
#
# server.1=nifi-node1-hostname:2888:3888;2181
# server.2=nifi-node2-hostname:2888:3888;2181
# server.3=nifi-node3-hostname:2888:3888;2181
#
# The index of the server corresponds to the myid file that gets created
# in the dataDir of each node running an embedded zookeeper. See the
# administration guide for more details.
#

server.1=
</file>

<file path="note.txt">
Spark terminal (may ca nhan)
5a
docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_5a_top_k_all_time.py 5

5b

docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_5b_top_k_by_month.py 5 202101

5c

docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_5c_revenue_by_product.py

5d
docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_5d_revenue_by_shop.py 202101

6a checker

# Kiểm tra đối chiếu Câu 5a (Lấy Top 5)
docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_6a_check_5a.py 5


6c checker

# Kiểm tra đối chiếu Câu 5c
docker exec -it spark-master /opt/spark/bin/spark-submit \
  --master spark://spark-master:7077 \
  /opt/spark/jobs/job_6c_check_5c.py
</file>

</files>
